# homey files
userdata
userconf.json
.homeyignore

#node modules
node_modules/*

# client id & secret
env.json

# Development tools
.project
.settings

# Added by Homey CLI
.homeybuild/*
.dependencygraph/data.json
.dependencygraph/setting.json
.vscode/settings.json
.vscode/launch.json


/.homeybuild
/.homeybuild
