{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 1200,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["**/*.html", "**/*.js"],
      "options": {
        
      }
    }
  ]
}
